.cardsmall {
    height: 284px;
    width: 177px;
  }
  .cardimg {
    height: 100px;
    width: 100px;
  }
  .cardtext {
    text-align: center;
  }
  .cardtitle {
    text-align: center;
  }
  .sc-ion-card-ios-h {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 7px;
    margin-inline-start: 4px;
    -webkit-margin-end: 7px;
    margin-inline-end: 4px;
  }